

# ── LangChain ecosystem ───────────────────────────────────────
langchain==0.3.14
langchain-core==0.3.29
langchain-community==0.3.14
langchain-groq==0.2.3
langchain-huggingface==0.1.2
langchain-chroma==0.1.4
langchain-text-splitters==0.3.4

# ── Groq ─────────────────────────────────────────────────────
groq


# ── Vector DB ─────────────────────────────────────────────────
chromadb==0.5.3

# ── PDF ───────────────────────────────────────────────────────
pypdf==4.3.1
pdfplumber==0.11.4

# ── API ───────────────────────────────────────────────────────
fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9

# ── Cache ─────────────────────────────────────────────────────
redis==5.0.8

# ── Config & Utils ────────────────────────────────────────────
python-dotenv==1.0.1
pydantic==2.8.2
pydantic-settings==2.4.0
tiktoken==0.7.0
rich==13.8.0


sentence-transformers==3.0.1
transformers==4.40.2
onnxruntime==1.18.1
optimum[onnxruntime]==1.21.0
